@model User

<div class="row">
    <div class="col-md-10">
        <div class="bg-white p-2">
            <h5>@Model.Name  @Model.Surname</h5>
            <hr>
            <div id="posts">
                <h5 class="my-4">İlandaki Ürünler</h5>
                <ul class="list-group">
                    @foreach (var order in @Model.Orders)
                    {
                        <li class="list-group-item"><i class="bi bi-caret-right-fill"></i><a
                                href="/products/details/@order.OrderId">@order.OrderDate</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>