<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <title>menu</title>
</head>

<body>
    <div class="hero">
        <nav>
            <h2 class="logo">Social <span>App</span></h2>
            <ul>
                <!--<li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>-->
            </ul>
            <button type="button">Login</button>
        </nav>
        <hr>
    </div>

    <div class="container mt-3">
        @RenderBody()
    </div>
</body>

</html>
