<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <title>Ecommerce Website</title>
</head>

<body>
    <div id="page" class="site">
        <header>
            <div class="header-top">
                <div class="container">
                    <div class="wrapper flexitem">
                        <div class="left">
                            <ul class="flexitem main-links">
                                <li><a href="">deneme</a></li>
                                <li><a href="">deneme2</a></li>
                                <li><a href="">deneme3</a></li>
                            </ul>
                        </div>
                        <div class="right">
                            <ul class="flexitem main-links">
                                @if (User.Identity!.IsAuthenticated)
                                {
                                    <li class="nav-item">
                                        <a asp-controller="Products" asp-action="Create" class="nav-link">Hızlı Sat!</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/profile/@User.Identity.Name" class="nav-link">@User.Identity.Name</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Users" asp-action="Logout" class="nav-link">Logout</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a asp-controller="Users" asp-action="Login" class="nav-link">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Users" asp-action="Register" class="nav-link">Register</a>
                                    </li>
                                }
                                <li><a href="">English<span class="icon-small"><i
                                                class="ri-arrow-down-s-line"></i></span></a>
                                    <ul>
                                        <li><a href="#">Turkish</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="header-nav">
                <div class="container">
                    <div class="wrapper flexitem">
                        <a href="" class="trigger desktop-hide"><span class="i ri-menu-2-line"></span></a>
                        <div class="left flexitem">
                            <div class="logo"><a href="#"><span class="circle">.Store</span></a></div>
                            <nav class="mobile-hide">
                                <ul class="flexitem second-links">
                                    <li><a href="#">Anasayfa</a></li>
                                    <li><a href="#">Erkek</a></li>
                                    <li><a href="#">Kadın</a></li>
                                    <li><a href="#">Teknoloji</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="right">
                            <ul class="flexitem second-links">
                                <li class="mobile-hide"><a href="#">
                                        <div class="icon-large"><i class="ri-heart-line"></i></div>
                                        <div class="fly-item"><span class="item-number">0</span></div>
                                    </a></li>
                                <li><a href="#" class="iscart">
                                        <div class="icon-large">
                                            <i class="ri-shopping-cart-line"></i>
                                            <div class="fly-item"><span class="item-number">0</span></div>
                                        </div>
                                        <div class="icon-text">
                                            <div class="min-text">Total</div>
                                            <div class="cart-total">$0.00</div>
                                        </div>
                                    </a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

        </header>
        <main></main>
        <footer></footer>

    </div>
    <script src="script.js"></script>
    <div class="container mt-3">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>

</html>
